.wrapperMain, .earthImg, .wrapper, .rocket, .lineMain {
    position: absolute;
}

.wrapperMain {
    width: 1920px;
    height: 1315px;
    background: #020412;
}

.earthImg {
    left: 729px;
    top: 157px;
}

.wrapper {
    width: 1920px;
    height: 1237px;
    background: linear-gradient(327.34deg, rgba(2, 4, 18, 0.97) 39.41%, rgba(2, 4, 18, 0) 75.32%);
}

.rocket {
    right: 15.885%;
    top: 67.5285%;
    z-index: 2;
}

.lineMain {
    width: 464px;
    height: 0px;
    left: 554px;
    top: 1244px;
    border: 1px solid rgba(61, 62, 48, 0.5);
}