.wrapperFooter {
    position: absolute;
    width: 1920px;
    height: 298px;
    left: 0px;
    top: 3862px;
    background: #08101B;
}

.firstSection {
    width: 123px;
    height: 24px;
    position: absolute;
    top: 40px;
    left: 16%;
}

.eventBiz, .pro {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 16px;
    line-height: 115.19%;
    letter-spacing: 0.025em;
}

.eventBiz {
    color: #FFFFFF;
}

.pro {
    color: darkorange;
}

.seminars {
    display: block;
    font-size: 9px;
    color: #FFFFFF;
    position: absolute;
    bottom: -3px;
}

.secondSection, .thirdSection {
    position: absolute;
    left: 16%;
}

.secondSection {
    top: 85px;
    width: 173px;
    height: 38px;
}

.thirdSection {
    width: 214px;
    height: 38px;
    top: 142px;
}

.secondSection a, .thirdSection a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 126%;
}

.benefits, .reviews, .consultation {
    position: absolute;
    left: 637px;
}

.benefits {
    width: 117px;
    height: 18px;
    top: 41px;
}

.reviews {
    width: 63px;
    height: 21px;
    top: 84px;
}

.consultation {
    width: 110px;
    height: 16px;
    top: 129px;
}

.cases, .contacts {
    position: absolute;
    left: 814px;
}

.cases {
    top: 41px;
    width: 54px;
    height: 18px;
}

.contacts {
    top: 84px;
    width: 93px;
    height: 21px;
}

.benefits a, .reviews a, .consultation a, .cases a, .contacts a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.benefits:hover, .reviews:hover, .consultation:hover, .cases:hover,
.contacts:hover, .thirdSection:hover, .secondSection:hover {
    text-decoration: underline;
}

.lineFooter {
    position: absolute;
    width: 1305px;
    height: 0px;
    top: 207px;
    left: 16%;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
